.watch-page-container {
  display: flex;
  flex-direction: row;
  box-sizing: content-box;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: content-box;
  justify-content: center;
  padding-bottom: 10vh;
  position: static;
  width: 100%;
}

.watch-block-container {
  padding: 7px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-player-wrapper {
  max-width: 60vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  background-color: #000;
}

.video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.video-info {
  width: 100%;
  max-width: 60vw;
}

.side-list-container {
  padding: 7px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

#info {
  font-size: smaller;
  color: rgb(134, 133, 133);
  margin-left: 15px;
}

.watch-page-container.dark-mode {
  color: #ffffff;
}

.watch-block-container.dark-mode .video-player {
  border: 1px solid #303030;
}

.video-metadata.dark-mode .video-title {
  color: #ffffff;
}

.video-metadata.dark-mode .video-owner,
.video-metadata.dark-mode .video-stats {
  color: #b3b3b3;
}

#info.dark-mode {
  color: #b3b3b3;
}
